.Normal_text {font-family:Arial;font-weight:normal;font-style:normal;font-size:13px;text-decoration:none;color:#3E3E3E;background-color:Transparent;letter-spacing:-0.004em;}
.TH {font-weight:bold;}
