.Normal_text {font-family:Arial;font-weight:normal;font-style:normal;font-size:13px;text-decoration:none;color:#3E3E3E;background-color:Transparent;letter-spacing:-0.004em;}
.Normal_text_a {font-family:Arial;font-weight:normal;font-style:normal;font-size:13px;text-decoration:none;color:#3E3E3E;background-color:Transparent;letter-spacing:-0.004em;}
.BUTTON-95BLUE {color:#006BDB;}
